{% extends "orders.htm" %}
{% load static %}
{% load account %}

    {% block body %}
 <section id="auth">
 <!--==========================
   Order list Section
 ============================-->
   <div class="order-section justify-content-center align-items-center">
     <div class="container">
	   <div class="row section-header justify-content-center align-items-center">
	      <div class="col-sm">
				<h4>{% user_display user %}</h4>
          </div>
       </div>
       {% if messages %}
       <div class="row justify-content-center">
          <div class="col-2"></div>
          <div class="col-md-auto">
              <strong>Сообщение:</strong>
               <ul class="auth_messages">
            	{% for message in messages %}
            	<li>{{message}}</li>
            	{% endfor %}
               </ul>
          </div>
          <div class="col-2"></div>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-8" id="allauth-content"> 
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-2"></div>
        </div>
       </div>
	</div>
   </div>
 </section><!-- #authList -->    
    {% endblock %}
    
    {% block extra_body %}
    {% endblock %}
