{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Главная{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href={% static "img/favicon.ico" %} rel="icon">
  <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css"%} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css"%} rel="stylesheet">
  <link href="{% static "lib/animate/animate.min.css"%}" rel="stylesheet">
  <link href="{% static "lib/ionicons/css/ionicons.min.css"%}" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css"%}" rel="stylesheet">
  <link href="{% static "lib/lightbox/css/lightbox.min.css"%}" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css"%} rel="stylesheet">
<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <!--==========================
    Header
  ============================-->
 {% block header %}
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- ><h1><a href="#intro" class="scrollto">BizPage</a></h1> -->
        <a href="#intro" class="scrollto"><img width="180" height="92" src="{% static "img/logo5.png"%}" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Главная</a></li>
          <li><a href="#about">О компании</a></li>
          <li><a href="#catalog">Каталог</a></li>
          <li><a href="#contact">Контакты</a></li>
		  <li><a style="display:{{ basket_show_hidden }};" id="aBasket" href="#basketList"><span id="basket"><img src="{% static "img/basket.png"%}"></span>Корзина</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  {% endblock %}
  {% block body %}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static "img/intro-carousel/zap1.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Мы профессионалы</h2>
                <p>Компания Zed A.D. специализируется на поставках автозапчастей и автокомпонентов крупным и мелким оптом. Мы существуем на рынке автозапчастей более 3 лет и за это время своей деятельности успели проявить себя с положительной стороны в лицах наших клиентов и поставщиков. Так же наладили прямые каналы поставки от ведущих поставщиков России и зарубежья.</p>
                <a href="#about" class="btn-get-started scrollto">Познакомиться</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/intro-carousel/zap2.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Цель компании</h2>
                <p>Мы готовы предложить максимальный ассортимент автозапчастей и автокомпонентов по самым выгодным ценам! С первого дня основания мы непрерывно работаем над тем, чтобы наши клиенты получали максимальную выгоду от сотрудничества с нами. Именно поэтому, мы готовы предложить выгодные цены на все товары. Мы занимаемся продажей автозапчастей, как иностранных, так и отечественных автомобилей, как с розничными, так и с оптовыми покупателями, в результате чего, имеем возможность взаимодействия с клиентами на любом уровне.</p>
                <a href="#about" class="btn-get-started scrollto">Познакомиться</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/intro-carousel/zap3.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Залогом успеха</h2>
                <p>Клиентоориентированность и нацеленность на результат являются залогом успеха нашей компании на рынке по продаже автозапчастей.
Все посетители нашего сайта делятся на зарегистрированных пользователей (наших клиентов) и гостей, тех, кто с нами не работает, но хочет получить какую-либо информацию о нас. Статус клиента компании даёт преимущество в информационной поддержке с нашей стороны. Получить статус клиента возможно после прохождения регистрации и оформления первой покупки.</p>
                <a href="#about" class="btn-get-started scrollto">Познакомиться</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/intro-carousel/zap4.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Оперативность</h2>
                <p>Мы знаем, что каждый владелец автомобиля понимает насколько важно вовремя обслуживать его и насколько важно, чтобы запчасти были качественными, поэтому приобретая их у нас, Вы всегда сможете произвести заказ как оригинала, так и любого аналога и не переживать за качество полученного товара.</p>
                <a href="#about" class="btn-get-started scrollto">Познакомиться</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/intro-carousel/zap5.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Zed A.D</h2>
                <p>Ваш надежный поставщик на рынке по продаже автозапчастей.</p>
                <a href="#about" class="btn-get-started scrollto">Познакомиться</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>О компании</h3>
          <p>Компания Zed A.D. специализируется на поставках автозапчастей и автокомпонентов крупным и мелким оптом.
Мы существуем на рынке автозапчастей более 3 лет и за это время своей деятельности успели проявить себя с положительной стороны в лицах наших клиентов и поставщиков. Так же наладили прямые каналы поставки от ведущих поставщиков России и зарубежья.
</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <p> </p>
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Цель компании</a></h2>
              <p>
                Предложить максимальный ассортимент автозапчастей и автокомпонентов по самым выгодным ценам!
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <p> </p>
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Наш план</a></h2>
              <p>
				Мы готовы предложить выгодные цены на все товары. Мы занимаемся продажей автозапчастей, как с розничными, так и с оптовыми покупателями.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <p> </p>
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Zed A.D</a></h2>
              <p>
                Мы Ваш надежный поставщик на рынке по продаже автозапчастей.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->
	
    <!--==========================
      Catalog Section
    ============================-->
    <section id="catalog">
      <div class="container">

        <header class="section-header">
          <h3>Каталог</h3>
        </header>

		<table id="cattab" style="font-size: 8px;"> 
		  <thead>
		      <tr>
		          <th>Номенклатура</th>
		          <th>Бренд</th>
		          <th>Артикул</th>
				  <th>Описание</th>
				  <th>Стоимость</th>
				  <th>Номер в каталоге</th>
				  <th>OEM</th>
				  <th>В корзину</th>
		      </tr>
		  </thead>
		  <tbody>
		  </tbody>
		 </table>
      </div>
    </section><!-- #catalog -->
	
    <!--==========================
      Basket list Section
    ============================-->
    <section id="basketList">
      <div class="container" style="display:{{ basket_show_hidden }};" id="basketdiv">

        <div class="section-header">
          <h3>Корзина</h3>
        </div>

		<table id="baskettab" style="font-size: 8px;"> 
		  <thead>
		      <tr>
		          <th class="no-sort">Номенклатура</th>
		          <th class="no-sort">Бренд</th>
		          <th class="no-sort">Артикул</th>
				  <th class="no-sort">Описание</th>
				  <th class="no-sort">Стоимость</th>
				  <th class="no-sort">Номер в каталоге</th>
				  <th class="no-sort">OEM</th>
				  <th class="no-sort">Кол-во</th>
		      </tr>
		  </thead>
		  <tbody>
		  </tbody>
		 </table>
		 <p>
		 <div class="text-center pull-right"><button type="submit">Заказать</button></div>
      </div>
    </section><!-- #basketList -->
	
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Контакты</h3>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Адресс</h3>
              <address>Россия, г. Ростов-на-Дону,л. Малиновского 33/89, пав. 41</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Телефон</h3>
              <p><a href="tel:+79281969611">+7 (928)-196-96-11</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Почта</h3>
              <p><a href="mailto:zedautodetal@mail.ru">zedautodetal@mail.ru</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Ваше сообщение отправлено. Большое спасибо!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Имя" data-rule="minlen:4" data-msg="Введите не меньше 4-х букв" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Пожалуйста введите корректный email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" data-rule="minlen:4" data-msg="Тема" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Текст сообщения" placeholder="Текст сообщения"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Отправить</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>
  {% endblock %}
  <!--==========================
    Footer
  ============================-->
  {% block footer %}
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Zed A.D.</h3>
            <p>Ваш надежный поставщик на рынке по продаже автозапчастей.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Ссылки</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Главная</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">О компании</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#catalog">Каталог</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Пользовательское соглашение</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Политика конфиденциальности</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Контакты</h4>
            <p>
              Россия, г. Ростов-на-Дону, <br>
              ул. Малиновского 33/89, пав. 41<br>
              <strong>Phone:</strong> +7 (928)-196-96-11<br>
              <strong>Email:</strong> zedautodetal@mail.ru<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Новости</h4>
            <p>Скоро...</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Zed A.D.</strong>. Все права зазищены
      </div>
      <div class="credits">
        Designed by <a href="#">unixlamaster</a>
      </div>
    </div>
  </footer><!-- #footer -->
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  {% endblock %}
  <!-- JavaScript Libraries -->
  {% block javascript %}
  <script src="{% static "lib/jquery/jquery.min.js"%}"></script>
  <script src="{% static "lib/jquery/jquery-migrate.min.js"%}"></script>
  <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "lib/easing/easing.min.js"%}"></script>
  <script src="{% static "lib/superfish/hoverIntent.js"%}"></script>
  <script src="{% static "lib/superfish/superfish.min.js"%}"></script>
  <script src="{% static "lib/wow/wow.min.js"%}"></script>
  <script src="{% static "lib/waypoints/waypoints.min.js"%}"></script>
  <script src="{% static "lib/counterup/counterup.min.js"%}"></script>
  <script src="{% static "lib/owlcarousel/owl.carousel.min.js"%}"></script>
  <script src="{% static "lib/isotope/isotope.pkgd.min.js"%}"></script>
  <script src="{% static "lib/lightbox/js/lightbox.min.js"%}"></script>
  <script src="{% static "lib/touchSwipe/jquery.touchSwipe.min.js"%}"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
	  var baskettab;
	  
	  $(document).ready(function() {
	      $('#cattab').DataTable({
             "processing": true,
			 "serverSide": true,
             "ajax": "{% url 'my_price_data_url' %}",

             "columns": [
				 { "data": "nomenclature" },
				 { "data": "brend"},
				 { "data": "articul"},
				 { "data": "describe"},
				 { "data": "cost"},
				 { "data": "catnumber"},
				 { "data": "oemnumber"},
				 { "data": "link"},
                 ],
			 "language": {
			         processing:     "Идет загрузка...",
			         search:         "Найти&nbsp;:",
			         lengthMenu:    "",
			         info:           "Cтроки с _START_ по _END_, всего _TOTAL_",
			         infoFiltered:   "",
			         emptyTable:     "пусто",
			         paginate: {
			             first:      "",
			             previous:   "Пред.",
			             next:       "След.",
			             last:       ""
			         }
			     },
			 'lengthMenu': [ [10], [10] ], 
			  aoColumnDefs: [
				   {
				      bSortable: false,
				      aTargets: [ -1 ]
				   }
				 ]
			 })
		 });
// -------------------------------------
	$('#cattab').on('click', '.fly-to-basket', function (e) {
		if ($('#aBasket').css("display") == "none") { $('#aBasket').show(); }
  		var elements = {
  			flyer  : $( $(this).attr('data-fly-to-basket') ), // get element to fly
  			basket : $('#basket') // get destination 
		};
  		var options = {
  			position : {
  				origin: {// get initial position on document
  					initial: elements.flyer.offset(),
            	// amout of pixels to move the cloned element from the original before flying to the basket
  					offset: { x: 5, y: 15 }
  				},
  				destination: {// get initial position on document
  					initial: elements.basket.offset()
  				}
  			}
  		};
  		if ( elements.flyer.length && elements.basket.length )
  		{ // allow only 1 cloned element
  			if ( $('#fly-to-basket').length ) {  $('#fly-to-basket').remove(); }
 			// clone original element and set initial position
  			elements.flyer.clone().attr('id','fly-to-basket').appendTo('body')
  			.css('box-shadow','0px 1px 10px 5px rgba(0,0,0,.15)').css('position','absolute') 			.css('top',options.position.origin.initial.top).css('left',options.position.origin.initial.left);
  			// make it fly!
  			$('#fly-to-basket').animate(
  				{ top: options.position.origin.initial.top - options.position.origin.offset.y, left: options.position.origin.initial.left - options.position.origin.offset.x }, 400,
  				function(){
  					$('#fly-to-basket').delay(100).animate(
  						{ top: options.position.destination.initial.top, left: options.position.destination.initial.left, width: '20px', height: '20px' }, 750, 'easeInOutExpo',
  						function(){ $('#fly-to-basket').fadeOut(500, function(){
 // 								elements.basket.effect( "bounce", "slow" );
  							});
  						}
  					);
  				}
  			);
  		};
// -----------------------------
// send to server click item=item{idprice}	
		var priceid = $(this).attr('data-fly-to-basket').match(/\d+/)[0];
		$.getJSON("{% url 'basket_item_add_url' %}?item="+priceid.toString(),
		   function(data) {
			   baskettab.row.add(data).draw();
		    }
		);
// -------------------------------------
	  	$('#aBasket').on('click', function (e) { 	  
		 $('#basketdiv').show(); 
	  	});
		return false;
	}); 
// -------------------------------------	
  $(document).ready(function() {
      baskettab = $('#baskettab').DataTable({
           "processing": true,
		   "serverSide": true,
           "ajax": "{% url 'my_basket_data_url' %}",
		   "paging": false,
		   "searching": false,
		   "info":     false,
           "columns": [
			 { "data": "nomenclature" },
			 { "data": "brend"},
			 { "data": "articul"},
			 { "data": "describe"},
			 { "data": "cost"},
			 { "data": "catnumber"},
			 { "data": "oemnumber"},
			 { "data": "count"},
               ],
		 "language": {
		         processing:     "Идет загрузка...",
		         search:         "Найти&nbsp;:",
		         lengthMenu:    "",
		         info:           "Cтроки с _START_ по _END_, всего _TOTAL_",
		         infoFiltered:   "",
		         emptyTable:     "пусто"
		     },
		 'lengthMenu': [ [10], [10] ], 
		  aoColumnDefs: [
			   {
			      bSortable: false,
			      aTargets: [ -1 ],
				   "targets": 'no-sort',
          		 "orderable": false,
				   "order": []
			   }
			 ]
	    });
	});
// -------------------------------------
$(document).ready(function() {
	 $('#baskettab').on('click', '.erase-basket-item', function(e) {
   		   var item = $(this).attr('data-erase-item');
		   var index = $(this).attr('data-index-item');

   		   $.getJSON("{% url 'basket_item_del_url' %}?item="+item,
   		   		function(data) { 
				  baskettab.row($(this).parents('tr')).remove().draw();}
			);
			
			return false;
	  });
  });
	  </script>

  <!-- Template Main Javascript File -->
  <script src="{% static "js/main.js"%}"></script>
  {% endblock %}

</body>
</html>
