{% extends "main.htm" %}
{% load static %}
{% load account %}

  
{% block body %}
 <section id="order">
 <!--==========================
   Order list Section
 ============================-->
   <div class="h-100 order-section justify-content-center align-items-center">
     <div class="container h-100">
	   <div class="row h-100 justify-content-center align-items-center">
	      <div class="col-12 justify-content-center align-items-center">
			<div class="row section-header justify-content-center align-items-center">
				<h3>Заказ</h3>
			</div>
			<div class="row justify-content-center align-items-center">

            	<table id="ordertab" class="table ordertab"> 
            	  <thead>
            	      <tr>
                          <th cscope="col">#</th>
            	          <th cscope="col">Номенклатура</th>
            			  <th cscope="col">Описание</th>
            			  <th cscope="col">Цена</th>
             			  <th cscope="col">Кол-во</th>
                          <th cscope="col">Стоимость</th>
            	      </tr>
            	  </thead>
            	  <tbody>
                    {% for row in data_basket %}
                    <tr>
                     <th scope="row">1</th>
                       {% for col in row %}
                         <td>{{ col }}</td>
                       {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan=5>&nbsp;</td>
                        <td><b>{{ summa }}</b>
                        </td>
                    </tr>
            	  </tbody>
            	 </table>
	 <p>
	 <div class="text-center pull-right">
         <form action=/>
         <button type="submit" id="confirm_order_button">Отправить</button></div>
			</div>
		  </div>
		</div>
	  </div>
   </div>
 </section><!-- #orderList -->
{% endblock %}

