{% extends "main.htm" %}
{% load static %}

 {% block header %}
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- ><h1><a href="#intro" class="scrollto">BizPage</a></h1> -->
        <a href="#intro" class="scrollto"><img width="180" height="92" src="{% static "img/logo5.png"%}" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Главная</a></li>
          <li><a href="#about">О компании</a></li>
          <li><a href="#catalog">Каталог</a></li>
          <li><a href="#contact">Контакты</a></li>
		  <li><a style="display:{{ basket_show_hidden }};" id="aBasket" href="#basketList"><span id="basket"><img src="{% static "img/basket.png"%}"> </span>Корзина</a></li>
          <li><a href=/accounts/logout>Выход</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  {% endblock %}
  
{% block body %}
 <section id="order">
 <!--==========================
   Order list Section
 ============================-->
   <div class="h-100 order-section justify-content-center align-items-center">
     <div class="container h-100">
	   <div class="row h-100 justify-content-center align-items-center">
	      <div class="col-6 justify-content-center align-items-center">
			<div class="row section-header justify-content-center align-items-center">
				<h3>Заказ</h3>
			</div>
			<div class="row justify-content-center align-items-center">

            	<table id="ordertab" class="table table-dark"> 
            	  <thead>
            	      <tr>
                          <th cscope="col">#</th>
            	          <th cscope="col">Номенклатура</th>
            	          <th cscope="col">Бренд</th>
            	          <th cscope="col">Артикул</th>
            			  <th cscope="col">Описание</th>
            			  <th cscope="col">Стоимость</th>
            			  <th cscope="col">Номер в каталоге</th>
            			  <th cscope="col">OEM</th>
            			  <th cscope="col">Кол-во</th>
            	      </tr>
            	  </thead>
            	  <tbody>
                    {% for row in data_basket %}
                    <tr>
                     <th scope="row">1</th>
                       {% for col in row %}
                         <td>{{ col }}</td>
                       {% endfor %}
                    </tr>
                    {% endfor %}
            	  </tbody>
            	 </table>
	 <p>
	 <div class="text-center pull-right"><button type="submit">Заказать</button></div>
			</div>
		  </div>
		</div>
	  </div>
   </div>
 </section><!-- #orderList -->
{% endblock %}

